<?xml version="1.0" encoding="utf-8" standalone="no"?>
<dublin_core schema="dc">
  <dcvalue element="contributor" qualifier="author">SLU {{creator}}</dcvalue>
  <dcvalue element="date" qualifier="issued">2022</dcvalue>
{{#sluids}}
  <dcvalue element="identifier" qualifier="govdoc">{{sluid}}</dcvalue>
{{/sluids}}
  <dcvalue element="description" qualifier="none" language="sv_SE">Kursplaner från Slukurs.</dcvalue>
{{#courses}}
  <dcvalue element="relation" qualifier="none" language="sv_SE">Kurs {{Kurskod}}, {{Benamning}}, anmälningskod {{anmkod}}.</dcvalue>
{{/courses}}
  <dcvalue element="description" qualifier="sponsorship" language="sv_SE">SLU</dcvalue>
  <dcvalue element="language" qualifier="iso" language="sv_SE">other</dcvalue>
  <dcvalue element="publisher" qualifier="none" language="sv_SE">SLU</dcvalue>
  <dcvalue element="subject" qualifier="none" language="sv_SE">kursplan</dcvalue>
  <dcvalue element="title" qualifier="none" language="sv_SE">{{itemtitle}}</dcvalue>
  <dcvalue element="type" qualifier="none" language="sv_SE">Dataset</dcvalue>
</dublin_core>
